* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section__header {
  font-size: 2rem;
  text-align: center;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #0c87f2;
  border: solid transparent 3px;
  padding: 5px 8px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #012340;
  border-bottom: solid 3px #0c87f2;
}

header {
  height: 70px;
  width: 100%;
  background: #0c87f2;
  color: #fff;
}

.header__content {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.header__content .header__logo img {
  width: 35px;
  margin-right: 1rem;
}

.header__content .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content .header__nav ul li {
  padding: 5px 10px;
  border: transparent 3px solid;
}

.header__content .header__nav ul li:hover {
  background-color: #2393f4;
  border-bottom: #012340 solid 3px;
}

.header__content .header__nav ul li a {
  font-size: 1.4rem;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "services reviews" "services about";
}

.services {
  background-color: green;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: services;
}

.reviews {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: reviews;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.reviews .review__card {
  background-color: #eee;
  color: #303642;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  padding: 1rem;
  margin: 1rem;
}

.reviews .review__card--author {
  color: #888;
  margin-bottom: .5rem;
}

.reviews .review__card--text {
  font-size: 1.4rem;
}

.about {
  background-color: blue;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about;
}

footer {
  background-color: #303642;
  color: #fff;
}

footer .section__header {
  grid-column: span 2;
  margin-top: 1rem;
}

footer .footer__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

footer .footer__container .contact {
  font-size: 1.4rem;
}

footer .footer__container .contact p {
  margin-bottom: 1rem;
}

footer .footer__container .contact form input,
footer .footer__container .contact form textarea {
  font-weight: 400;
  font-family: 'Poppins', san-serif;
  padding: .5rem;
  display: block;
  width: 100%;
  margin: 1rem 0;
}

footer .footer__container .contact form .contact__btn {
  background-color: #0c87f2;
  border: solid transparent 3px;
  padding: 5px 10px;
  font-size: 1.4rem;
  color: #fff;
  display: block;
  width: 100%;
  font-weight: bold;
}

footer .footer__container .contact form .contact__btn:hover {
  background-color: #012340;
  border-bottom: solid 3px #0c87f2;
}

footer .footer__container .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__container .nav__items {
  font-size: 1.4rem;
  font-weight: bold;
}

footer .footer__container .nav__items li {
  border-bottom: 2px solid #fff;
  padding: 5px 10px;
  margin-bottom: 2rem;
}

footer .footer__container .nav__items li:hover {
  background-color: #3b4251;
}

footer .copyright {
  background-color: #485161;
  grid-column: span 2;
  text-align: center;
  margin-bottom: 1rem;
  padding: .7rem;
}

:target:before {
  content: "";
  display: block;
  height: 90px;
  /* fixed header height*/
  margin: -90px 0 0;
  /* negative fixed header height */
}

@media (max-width: 850px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "services" "reviews"                     "about";
  }
  footer .footer__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .section__header {
    grid-column: span 1;
  }
  footer .copyright {
    grid-column: span 1;
  }
}
/*# sourceMappingURL=style.css.map */