$color__light: #169ef2;
$color__primary: #0c87f2;
$color__dark: #012340;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

// UTILITIES //
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section__header {
    font-size: 2rem;
    text-align: center;
}

img {
    width: 100%;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}
// HEADER //

header {
    height: 70px;
    width: 100%;
    background: $color__primary;
    color: #fff;
}

.header__content {
    height: 70px;
    //width: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .header__logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

        img{
            width: 35px;
            margin-right: .5rem;
        }
    }

    .header__nav ul {
        display: flex;

        li {
            padding: 5px 10px;
            border: transparent 3px solid;

            &:hover {
                background-color: lighten($color__primary, $amount: 5);
                border-bottom: $color__dark solid 3px;
            }
        }
    }
}




// FOOTER
footer {
    background-color: #303642;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;


    .section__header {
        grid-column: span 2;
    }
}