$color__light: #169ef2;
$color__primary: #0c87f2;
$color__dark: #012340;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

// UTILITIES //
.container {
    max-width: 960px;
    margin: 0 auto;
}

img {
    width: 100%;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}
// HEADER //

header {
    height: 70px;
    width: 100%;
    background: $color__primary;
}

.header__content {
    height: 70px;
    width: 100%;
    background: $color__primary;


    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .header__logo {
    display: flex;
    align-items: center;

        & img{
            width: 50px;
            margin-right: 1rem;
        }
    }

    .header__nav ul {
        display: flex;

        li {
            padding: 1rem;
        }
    }
}